version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: final-db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: final_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  api:
    build: ./api
    container_name: final-api
    restart: always
    environment:
      DATABASE_URL: postgres://admin:password123@db:5432/final_db
    ports:
      - "3002:3002"
    depends_on:
      - db

  web:
    build: ./web
    container_name: final-web
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - api

volumes:
  postgres_data:

